EMAIL=INPUT_EMAIL_HERE              # obtain from deye developers portal
PASSWORD=INPUT_PASSWORD_HERE        # obtain from deye developers portal
APP_ID=INPUT_APP_ID_HERE            # obtain from deye developers portal
APP_SECRET=INPUT_APP_SECRET_HERE    # obtain from deye developers portal

DEVICE_SN=INPUT_DEVICE_SN_HERE      # obtain from deye app
STATION_ID=INPUT_STATION_ID_HERE    # obtain from deye app

LATITUDE=INPUT_LATITUDE_HERE        # example: 14.238 
LONGITUDE=INPUT_LONGITUDE_HERE      # example: 121.1225

DUCKDB_PATH=INPUT_DUCKDB_PATH_HERE  # example: luminos.duckdb